body{
    background: url("pic6.jpeg") center;
    margin: auto;
    text-align: center;
    font-family: tahoma;

}

h1{
    color: purple;
    font-size: 46px;
    margin-top: 180px;
    margin-bottom: 0;
}

h4{
    color: rgb(32, 31, 32);
    font-size: 20px;
    margin-top: 10px;
    
}

button{
    background: purple;
    border: hidden;
    padding: 15px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    font-family: Tahoma;
    cursor: pointer;
}